<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head.ejs") %>
  
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>

        <div class="botones-admin">
            <div class="boton-admin"><a href="/forms/cint">
                Agregar integrante</a>
            </div>
            <div class="boton-admin"><a href="/forms/cargo">
                Agregar cargo</a>
            </div>
            <div class="boton-admin"><a href="/forms/cp">
                Agregar proyecto de investigación</a>
            </div>
            <div class="boton-admin"><a href="/forms/cmp">
                Agregar miembros de proyecto</a> 
            </div>
            <div class="boton-admin"><a href="">
                Agregar tesista</a> 
            </div>
            <div class="boton-admin"><a href="">
                Agregar libro</a> 
            </div>
            <div class="boton-admin"><a href="">
                Agregar revista</a> 
            </div>
            <div class="boton-admin"><a href="">
                Agregar reunión científica</a>
            </div>
            <div class="boton-admin"><a href="">
                Agregar actividad de extensión</a> 
            </div>

        </div>

    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>