<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/header.ejs") %>
            <main class="main-insti">

                <h2 class="insti-title">> FILO:UBA</h2>
                <article class="insti-container">
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                </article>
                <h2 class="insti-title">> UBA</h2>
                <article class="insti-container">
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>

                </article>
                <h2 class="insti-title">> UBA-CONICET</h2>
                <article class="insti-container">
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="insti-img-wrapper">
                            <img src="/images/esquina-instis.jpeg" alt="Instituto" style="width:100%">
                        </div>
                        <div class="card-container">
                            <h4>Instituto de Literatura Argentina "Ricardo Rojas"</h4>
                            <a href="https://goo.gl/maps/J7Tks5afBvQJM7Qz8"><p class="address"><i class="fa-solid fa-location-dot"></i>25 de mayo 217, 1er piso, CABA.</p></a>
                            <p><b>Directora:</b> Alejandra Laera</p>
                            <p><b>Secretaria académica:</b> Karina Boiola</p>
                        </div>
                    </div>

                </article>





            </main>



            <%- include("./partials/footer.ejs") %>
    </body>

</html>