<footer class="footer-section">

    <article class="footer-item">

        <p class="contacto-redes">CONTACTO</p>
        <div class="redes">
            <a href="https://www.facebook.com/filosofiayletrasuba" target="_blank"
                ><i class="fa-brands fa-facebook-f footerfacebook"></i></a>
            <a href="https://www.instagram.com/filo.virtual/" target="_blank"><i
                    class="fa-brands fa-instagram footerinsta"></i></a>
            <a href="mailto: secretariadeinvestigacion@filo.uba.ar" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        </div>

    </article>
    <section class="footer-copyright">
        <p>Copyright © 2023 Secretaría de investigación | FILO:UBA</p>
    </section>


</footer>